.github-calendar-wrapper {
    width: 100%;
    overflow-x: auto;
}

.github-calendar {
    width: 100%;
    min-width: 900px;
    transition: all .5s;
}

.profile-link {
    text-align: left;
    margin-top: 200px;
    transition: all .25s;
}

.profile-link i {
    color: var(--text-highlight);
}

.profile-link:hover {
    padding-left: 4px;
    border-left: 2px solid var(--link);
    color: var(--text-highlight);
}