.gh-component-wrapper {
    padding-top: 4px;
    max-width: 800px;
    width: 100%;
    margin: var(--spacing) auto;
}

.gh-graph-wrapper {
    width: 100%;
    text-align: center;
    overflow-x: auto;
}

.gh-graph {
    width: 100%;
}