.footer-link {
    margin: 0;
    padding: 0;
    max-width: fit-content;
    font-weight: 700;
    color: var(--text-highlight);
    transition: all .25s;
}

.footer-link:hover {
    padding-left: 4px;
    border-left: 2px solid var(--link);
}

#footer {
    margin-bottom: var(--spacing-large);
}